@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");
* {
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
  display: block;
}
ul {
  list-style: none;
}
body {
  font-family: "Roboto Condensed", serif;
}
/* nav part start */

/* nav part end */

/* banner part start */
#banner {
  padding-top: 220px;
  padding-bottom: 128px;
  background: url(../img/banner.png) no-repeat center / cover;
}
.banner_main h1 {
  font-size: 64px;
  font-weight: bold;
  color: white;
  line-height: 82px;
  text-transform: uppercase;
  padding-bottom: 32px;
  /* padding-right: 20px; */
}
.banner_main h6 {
  font-size: 16px;
  font-weight: bold;
  color: white;
  padding-bottom: 16px;
  text-transform: uppercase;
}
.banner_main a {
  padding: 24px 64px;
  background-color: #ffd2a4;
  border-radius: 12px;
  font-size: 16px;
  font-weight: normal;
  color: #1c1d28;
  text-transform: uppercase;
  margin-bottom: 64px;
  text-align: center;
}
.banner_main p {
  font-size: 16px;
  font-weight: normal;
  color: #fff;
  padding-right: 200px;
  position: relative;
  padding-left: 30px;
}
.banner_main p::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 18px;
  background-color: #ffd2a4;
  top: 10px;
  left: 0;
}

/* banner part end */

/* about part start */
#about {
  padding-top: 128px;
}
.about_head h2 {
  font-size: 40px;
  font-weight: bold;
  text-transform: uppercase;
  padding-top: 16px;
  padding-bottom: 64px;
  text-align: center;
}
.about_head h6 {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
}
.item {
  padding: 60px;
  background-color: #fff5eb;
  border-bottom: 16px solid #ffd2a4;
}
.item img {
  width: 48px;
  padding-bottom: 24px;
}
.item h5 {
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
}
.item p {
  font-size: 18px;
  font-weight: normal;
}
.card-body {
  padding: 0;
}
/* about part end */

/* wellcome part start */
#wellcome {
  padding: 128px 0;
}
.well_head h6 {
  font-size: 16px;
  font-weight: normal;
  color: #161722;
  text-transform: uppercase;
  margin-bottom: 0;
}
.well_head h2 {
  font-size: 48px;
  font-weight: bold;
  color: #161722;
  text-transform: uppercase;
  padding-top: 16px;
  padding-bottom: 32px;
  margin-bottom: 0;
}
.well_head p {
  font-size: 16px;
  font-weight: normal;
  text-align: center;
  color: rgba(0, 0, 0, 0.785);
  padding-bottom: 56px;
  margin-bottom: 0;
}
.well_head a {
  font-size: 16px;
  font-weight: normal;
  text-transform: uppercase;
  color: #1c1d28;
  padding: 24px 64px;
  border-radius: 12px;
  background-color: #ffd2a4;
}
.middle_box img {
  width: 100%;
}
.img_mid {
  margin-top: 48px;
}
.well_bottom {
  padding-top: 64px;
}
.well_bottom h6 {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: normal;
  color: #161722;
  margin-bottom: 0;
}
.well_bottom h3 {
  font-size: 32px;
  font-weight: bold;
  color: #161722;
  text-transform: uppercase;
  padding: 16px 0;
  margin-bottom: 0;
}
.well_bottom p {
  font-size: 16px;
  color: rgba(22, 23, 34, 0.783);
  text-align: center;
  font-weight: normal;
  padding-bottom: 16px;
  margin-bottom: 0;
}
.well_bottom a {
  color: #161722;
  font-size: 16px;
  font-weight: normal;
}
.well_bottom img {
  padding-left: 6px;
}
/* wellcome part end */

/* benefit part start */
#benefit {
  padding: 128px 0;
  background-color: #f5f2f0;
}
.bene_head h2 {
  font-size: 48px;
  font-weight: bold;
  color: #161722;
  text-transform: uppercase;
  padding-bottom: 64px;
  margin-bottom: 0;
  padding-right: 100px;
}
.bene_head h6 {
  font-size: 16px;
  font-weight: normal;
  color: #161722;
  padding-bottom: 16px;
  text-transform: uppercase;
  margin-bottom: 0;
}
/* benefit part end */
